'.text.xml':
  'validation':
    'rules': [
      {
        priority: 1
        test:
          grammarScope: "text.xml.tei"
        outcome:
          schemaProps: [
            {
              lang: "rng"
              path: "../teischemas/xml/tei/custom/schema/relaxng/tei_all.rng"
            }
          ]
      }
    ]
